#about_page_1 {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    position: relative;

    .about-page-1-text {
        width: 45vw;
        position: absolute;
        left: 5vw;
        top: 35vh;
    }

    .text-default {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    #about_page_1 {
        .about-page-1-text {
            width: 100vw;
            top: 57vh;
            left: 0;
        }

        .text-default {
            font-size: 0.55rem;
        }
    }
}
