
#burger_menu {
    position: fixed;
    top: 3vh;
    right: 3vw;
    text-align: right;
    z-index: 99;

    .menu {
        width: 48px;
        cursor: pointer;
    }

    ul > li {
        list-style: none;
        cursor: pointer;

        .nav_menu_item_active {
            width: 210px;
        }

        .nav_menu_item {
            width: 48px;
        }
    }
}