
#burger_menu {
    position: fixed;
    top: 3vh;
    right: 3vw;
    text-align: right;
    z-index: 99;

    .menu {
        width: 48px;
        cursor: pointer;
    }

    ul > li {
        list-style: none;
        cursor: pointer;

        .nav_menu_item_active {
            width: 208px;
        }

        .nav_menu_item {
            width: 48px;
        }
    }
}

@media only screen and (max-width: 600px) {
    #burger_menu {
        .menu {
            width: 24px;
        }

        ul > li {
            .nav_menu_item_active {
                width: 112px;
            }

            .nav_menu_item {
                width: 24px;
            }
        }
    }
}