#register {
    background: url('../assets/images/Register/MDM2020_07_05_REGISTER-20.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: relative;
    width: 100vw;
    height: 100vh;
}

.register-wrapper {
    position: relative;
    width: 73vw;
    height: 100%;
}